:root {
  --black: #263238;
  --primary: #4caf4f;
  --silver: #f5f7fa;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

header {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--silver);
}

header.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

header img {
  width: 154px;
}

header nav {
  display: flex;
  gap: 50px;
}

header nav a {
  text-decoration: none;
  color: var(--black);
}

#header-right {
  display: flex;
  gap: 14px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--primary);
  color: white;
  text-decoration: none;
}
.button.ghost {
  background-color: transparent;
  color: var(--primary);
}
